* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  background-color: #ffffff;
  max-width: 1440px;
  margin: 0 auto;
}

nav .nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  color: black;
}

.nav-links a:hover {
  color: rgba(70, 145, 101, 1);
}

.primary-btn {
  background: rgba(70, 145, 101, 1);
  color: white;
  padding: 12px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.secondary-btn {
  background: transparent;
  color: white;
  padding: 10px 16px;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.primary-btn:hover {
  background: rgb(88, 180, 126);
}

.secondary-btn:hover {
  background: white;
  color: rgba(70, 145, 101, 1);
}

.hero-section {
  background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 170px;
  background-color: #f5f5f5;
  text-align: center;
  color: white;
  gap: 22px;
}

.hero-point {
  padding: 8px 14px;
  background-color: #fff;
  color: rgba(70, 145, 101, 1);
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.hero-point div {
  width: 6px;
  height: 6px;
  background-color: rgba(70, 145, 101, 1);
  border-radius: 50%;
  box-shadow: 0px 0px 0px 5px rgba(70, 145, 101, 0.4);
}

.hero-section h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  text-transform: capitalize;
}

.hero-section h1 span {
  color: rgba(70, 145, 101, 1);
}

.hero-section p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  max-width: 680px;
}

.hero-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

/* main content */

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.info-section .info-content {
  padding: 80px 0 60px;
}

.info-content h2 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  line-height: 58px;
}

.info-content p,
.info-card p,
.solution-content p,
.cta-content p {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #627382;
}

.info-cards {
  display: flex;
  gap: 24px;
}

.info-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  padding: 20px;
}

.info-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(249, 85, 85, 1);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 16px;
}

.info-card h3 {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  margin-bottom: 16px;
}

/* Solution Section */

.solution-section {
  display: flex;
  align-items: center;
  margin: 120px 0;
  gap: 60px;
}

.solution-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}

.solution-content h3 {
  font-size: 16px;
  color: rgba(70, 145, 101, 1);
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
}

.solution-content h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  margin: 10px 0;
}

.solution-content p {
  text-align: left;
  margin-bottom: 34px;
}

.solution-section ul {
  list-style: none;
  padding-left: 20px;
}

.solution-section ul li {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 16px;
  vertical-align: middle;
}

.solution-section ul li::before {
  position: relative;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 4px;
  margin-right: 10px;
  background-image: url(../assets/CheckCircle.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/* Call to Action Section */

.cta-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(247, 246, 242, 1);
  border-radius: 12px;
  padding: 80px 40px;
  margin-bottom: 120px;
}

.cta-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  max-width: 600px;
  margin: auto;
}

.cta-content h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

/* Footer Styles */

footer {
  background-color: rgba(0, 25, 49, 1);
  padding-top: 40px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 0;
  color: white;
}

.social-links {
  list-style: none;
  display: flex;
  font-size: 24px;
  gap: 16px;
  margin-top: 16px;
}

.social-links a {
  color: white;
  text-decoration: none;
}

.social-links a:hover {
  color: rgba(70, 145, 101, 1);
}

.footer-note {
  text-align: center;
  color: white;
  padding: 30px;
  font-size: 16px;
}

footer hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
