* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  background-color: #ffffff;
  margin: 0 120px;
}

nav .nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  color: black;
}

.nav-links a:hover {
  color: rgba(70, 145, 101, 1);
}

.primary-btn {
  background: rgba(70, 145, 101, 1);
  color: white;
  padding: 12px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.secondary-btn {
  background: transparent;
  color: white;
  padding: 10px 16px;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.primary-btn:hover {
  background: rgb(88, 180, 126);
}

.secondary-btn:hover {
  background: white;
  color: rgba(70, 145, 101, 1);
}

.hero-section {
  background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 170px;
  background-color: #f5f5f5;
  text-align: center;
  color: white;
  gap: 22px;
}

.hero-point {
  padding: 8px 14px;
  background-color: #fff;
  color: rgba(70, 145, 101, 1);
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.hero-point div {
  width: 6px;
  height: 6px;
  background-color: rgba(70, 145, 101, 1);
  border-radius: 50%;
  box-shadow: 0px 0px 0px 5px rgba(70, 145, 101, 0.4);
}

.hero-section h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  text-transform: capitalize;
}

.hero-section h1 span {
  color: rgba(70, 145, 101, 1);
}

.hero-section p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  max-width: 680px;
}

.hero-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

/* main content */

.main-content {
  max-width: 1480px;
  margin: 0 auto;
}

.info-section .info-content {
  padding: 80px 0 60px;
}

.info-content h2 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  line-height: 58px;
}

.info-content p,
.info-card p {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin-top: 16px;
  color: #627382;
}

.info-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  padding: 60px 40px 40px 40px;
}

.info-card div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(249, 85, 85, 1);
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.info-card h3 {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}
